body {
    margin: 0;
    background-color: $lighterBlue;
    font-family: 'Raleway', sans-serif;
    color: $darkGrey;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}