$whiteBlue: #DCEDFF;
$offWhiteBlue: #C5E0F7;
$lighterBlue: #B3CEF2;
$lightBlue: #AFC4E0;
$lighterMediumBlue: #4A8EDB;
$mediumBlue: #246EC1;
$darkBlue: #2A374F;


$darkGrey: #343F3E;
$brown: #513C2F;
$errorRed: #A8533F;

/* 
Light Blues:
https://coolors.co/dcedff-c5e0f7-b3cef2-afc4e0-343f3e
Others:
https://coolors.co/4a8edb-246ec1-a8533f-2a374f-343f3e
*/