.btn {
    display: inline-block;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
    background: $mediumBlue;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: $whiteBlue;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $lighterMediumBlue;
    }

    @mixin atLarge {
        width: 25%;
        float: right;
        height: 4rem;
        font-size: 2rem;
    }
}