.card {
    background-color: $whiteBlue;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;

    & h2 {
        color: $darkGrey;
    }

    @mixin atLarge {
        font-size: 1.5rem;
    }
}