.column {
    width: 100%;
    margin: 0;
    margin-bottom: 3rem;
    display: inline-block;
    padding-right: 0.25rem;
    float: left;
    
    &--right {
        float: right;
        padding: 0;
        padding-left: 0.25rem;
    }

    @mixin atLarge {
        width: 50%;
    }
}