.textbox {
    display: inline-block;
    height: 7rem;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    width: 100%;
    top: 0;
    left: 0;

    @mixin atLarge {
        width: 75%;
        height: 4rem;
        font-size: 2rem;
    }
}