.title {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;

    @mixin atSmall {
        font-size: 2.25rem;
    }

    @mixin atMedium {
        font-size: 5rem;
    }

    @mixin atLarge {
        font-size: 3rem;
    }
}

span.title {
    width: auto;
}