/* 
Light Blues:
https://coolors.co/dcedff-c5e0f7-b3cef2-afc4e0-343f3e
Others:
https://coolors.co/4a8edb-246ec1-a8533f-2a374f-343f3e
*/
body {
    margin: 0;
    background-color: #DCEDFF;
    font-family: 'Raleway', sans-serif;
    color: #343F3E;
}
img {
    max-width: 100%;
    height: auto;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.title {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
}
@media (min-width: 530px) {
.title {
        font-size: 2.25rem
}
    }
@media (min-width: 800px) {
.title {
        font-size: 5rem
}
    }
@media (min-width: 1010px) {
.title {
        font-size: 3rem
}
    }
span.title {
    width: auto;
}
.centered-vertically {
    display: block;
    position: relative;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.text-align-center {
    text-align: center;
}
.wrapper {
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1010px) {
.wrapper {
        padding-left: 18px;
        padding-right: 18px
}
    }
.margin--top {
        margin-top: 2rem;
    }
.btn {
    display: inline-block;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
    background: #246EC1;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #DCEDFF;
    border: none;
    cursor: pointer;
}
.btn:hover {
        background-color: #4A8EDB;
    }
@media (min-width: 1010px) {
.btn {
        width: 25%;
        float: right;
        height: 4rem;
        font-size: 2rem
}
    }
.textbox {
    display: inline-block;
    height: 7rem;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    width: 100%;
    top: 0;
    left: 0;
}
@media (min-width: 1010px) {
.textbox {
        width: 75%;
        height: 4rem;
        font-size: 2rem
}
    }
.error {
    color: #DCEDFF; 
    background-color: #A8533F;
    padding: 1rem;
    font-size: 2.25rem;
}
.img-container {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}
@media (min-width: 1010px) {
.img-container img {
            width: 50%
    }
    }
.column {
    width: 100%;
    margin: 0;
    margin-bottom: 3rem;
    display: inline-block;
    padding-right: 0.25rem;
    float: left;
}
.column--right {
        float: right;
        padding: 0;
        padding-left: 0.25rem;
    }
@media (min-width: 1010px) {
.column {
        width: 50%
}
    }
.card {
    background-color: #DCEDFF;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}
.card h2 {
        color: #343F3E;
    }
@media (min-width: 1010px) {
.card {
        font-size: 1.5rem
}
    }
.bottom {
    background: #B3CEF2;
    min-height: 100vh;
    padding-top: 1rem;
}
.top {
    margin-bottom: 1rem;
}