body {
    margin: 0;
    background-color: #DCEDFF;
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.page-header {
    text-align: center;
    font-size: 3rem;
}
.drop-zone {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 8px dashed rgba(148,176,218, 0.5);
    border-radius: 10px;
}
.drop-zone__input {
        font-size: 2.5rem;
        color: #94B0DA;
        text-align: center;
    }
.drop-zone__container {
        position: relative;
        width: 100%;
        /* Relative padding is based off of parent width, results in drop-zone being square */
        padding-bottom: 100%;
        height: 0;
    }
.centered-vertically {
    display: block;
    position: relative;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.text-align-center {
    text-align: center;
}
.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}